# Fields
public net.minecraft.world.level.BaseSpawner f_45450_ # displayEntity

# Methods
public net.minecraft.world.level.BaseSpawner m_253144_(Lnet/minecraft/world/level/Level;Lnet/minecraft/util/RandomSource;Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/level/SpawnData; # getOrCreateNextSpawnData